@CHARSET "UTF-8";
#save-div {
    height: 40px;
    clear: none;
    display: inline;
    text-align: right;
    padding-right: 0;
    margin-top: 12px;
    margin-bottom: 14px;
        
}
#save-div input, select#change_edit_config  {
    font-size: 24px;
	float: right;
    padding: 4px;
}
#save-div input[type="text"], select#change_edit_config {
    color: #464646;
}
#current-save-id {
    text-align: right;
}
#save-div [type="button"] {
	margin-left: 12px;
}
#save-div [type="text"] {
    font-style: italic;

}
table.form-table {
    table-layout: auto;
    width: 1000px;
}

colgroup col:FIRST-CHILD{
    width: 200px;
}
#themeNotifications {
}
#config-controls {
    overflow: auto;
}
