@CHARSET "UTF-8";

select#change_edit_config  {
    padding: 4px;
}
select#change_edit_config {
    color: #464646;
}

table.form-table {
    table-layout: auto;
    width: 1000px;
    border-collapse:collapse;
}

colgroup col {
    /*width: 80px;*/
}
colgroup col:FIRST-CHILD{
    width: 200px;
}
#themeNotifications {
    color: #555;
}
#config-controls {
    float: right;
}
#form-header {
	/* position: relative;*/
    margin-top: 12px;
    margin-bottom: 12px; 
    overflow: auto;
}
